@import "../../styles/utils/vars";

.navbar {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px;
  }

  &__item {
    padding: 10px 0;
    margin-right: 15px;

    font-weight: 700;
    text-transform: uppercase;
    color: $base-color;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $second-color;
    }

    &--active {
      position: relative;

      color: $third-color;

      &:after {
        content: "";

        position: absolute;
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;

        background-color: $third-color;
        border-radius: 4px;
      }
    }
  }
}
